footer 
	| Designed by 
	a(href="https://es.linkedin.com/in/xabiercrespo") Xabier Crespo 
	| under 
	a(href="http://www.gnu.org/licenses/gpl-3.0.en.html") GNU General Public License v3.0
	br
	span.fa.fa-github
	|  Project hosted at 
	a(href="https://github.com/crespum/crespum-portfolio") GitHub