footer
	.container
		.row
			.col-sm-6
				p
					| Source code at 
					span.fa.fa-github 
					a(href="https://github.com/crespum/crespum-portfolio", target="_blank")  GitHub 
					| under 
					a(href="http://www.gnu.org/licenses/gpl-3.0.en.html", target="_blank") GNU General Public License v3.0
			.col-sm-4.col-sm-offset-1
				p
					img(src="images/concello-de-vigo.png")
				| Fomento do emprendemento e a consolidación empresarial a través do traballo colaborativo. Vigo 2016.
