extends layout

block content
  section.intro
      video#background-video(autoplay='', loop='', muted='', poster='img/intro-bg.jpg')
        source(src='http://techslides.com/demos/sample-videos/small.mp4', type='video/mp4')
      |         
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading Xabier Crespo
              |                         
              p.intro-text
                | Engineer and entrepreneur.
                br
                | IoT solutions.
              |                         
              a.btn.btn-default.btn-lg(href='#')
                | More