extends layout
block vars
  -var nav_selected = 'Projects'; //default

block content
  -var media_path = "/images/projects/";
  section#projects
    h1.title Projects I've been working on
    each val, key in projects
      .col-md-4.col-full-width
        a(href="projects/"+key).link-img
          .img-text
            img.img-responsive(src=media_path+val.media.img_mini)
            .caption.center
              h2=val.title
              p=val.brief
