body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

@media(min-width:768px) {
    body {
        padding-top: 73px;
    }
}

html {
    width: 100%;
    height: 100%;
}

h1.title {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.center {
    text-align: center;
}

p {
    margin: 0 0 5px;
    font-size: 13px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 15px;
        font-size: 15px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.col-full-width {
   padding: 0 !important;
   margin: 0 !important;
}
/*********** Navbar ***********/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    background: #eee;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    color: #444;
}

.navbar-custom .navbar-brand:hover {
    outline: 0;
    color: #353535;    
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    color: #666;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: rgba(255, 255, 255, .7);
    color: #353535;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
    color: #353535;    
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .7);
    color: #353535;
    font-weight: bold;
}

.navbar-custom .nav li.active a:hover {
    background-color: #eee;
    color: #353535;
    font-weight: bold;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 10px 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
    }

    .navbar-custom .nav li a:hover {
        outline: 0;
        color: #353535;
        border-bottom: 3px solid #353535;    
        background-color: transparent;
        -webkit-transition: border-bottom .1s ease-in-out;
        -moz-transition: border-bottom .1s ease-in-out;
        transition: border-bottom .1s ease-in-out;        
    }    
    .navbar-custom .nav li.active a {
        color: #353535;
        font-weight: bold;
        border-bottom: 3px solid #353535;
        background-color: rgba(0, 0, 0, 0);
    }    
}

/*********** Index ***********/

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background: url(/images/introme.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

#projects .img-box {
    position: relative;
}

#projects .img-box .primary {
    position: absolute;
    top: 0;
    z-index: 1;
    transition: opacity 0.1s linear;

}

#projects .img-box .secondary {
    background-color: rgba(0, 172, 230, 0.58);
    z-index: 2;
}

#projects .img-box .primary:hover {
    opacity: 0.1;
    transition: opacity 0.2s linear;
}

#projects .img-text {
    position: relative;
}

#projects .img-text img {
    width: 100%;
}

#projects .img-text .caption {
    position: absolute;
    top: 0;
    padding-top: 25%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.1s linear;
}

#projects .img-text .caption p{
    font-size:20px;
}

#projects .img-text .caption:hover {
    opacity: 0;
    transition: opacity 0.2s linear;
}

#projects a.link-img {
    color: white !important;
}

#projects a:hover .link-img,
#projects a:focus .link-img{
    text-decoration: none;
    color: white;
}
