body {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding-top: 0;
    padding-bottom: 0;
}

html {
    width: 100%;
}

h1.title {
    font-size: 30px;    
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

p {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.6;
}

@media(min-width:768px) {    
    h1.title {
        text-align: center;
        padding-bottom: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 20%;
        margin-right: 20%;
        border-bottom: 1px solid gray;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 10px;
        font-weight: 600;
    }

    p {
        margin: 0 0 15px;
        font-size: 16px;
        line-height: 1.6;
    }    
}

.center {
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

a {
    color: #FF5722;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #E64A19;
}

.light {
    font-weight: 400;
}

.row-full-width, .col-full-width {
   padding: 0 !important;
   margin: 0 !important;
}

span.line-intro {
    padding-right: 10px;
}

/*********** Navbar ***********/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    color: #353535;
}

.navbar-custom .navbar-brand:hover {
    outline: 0;
    color: #353535;    
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #353535;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a {
    color: #353535;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: rgba(255, 255, 255, .7);
    color: #353535;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
    color: #353535;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .7);
    color: #353535;
    font-weight: bold;
}

.navbar-custom .nav li.active a:hover {
    background-color: #FAFAFA;
    color: #FF5722;
    font-weight: bold;
}

@media(min-width:768px) {

    .navbar-custom {
        background: rgba(238, 238, 238, 0);
        box-shadow: none;
        border-bottom: none;
        padding: 10px 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .navbar-custom .navbar-brand {
        color: #FAFAFA;
    }

    .navbar-custom .nav li a {
        color: #FAFAFA;
    }

    .navbar-custom .nav li.active a {
        color: #FAFAFA;
        font-weight: bold;
        border-bottom: 3px solid #FF5722;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-custom .nav li.active a:hover {
        background-color: rgba(0, 0, 0, 0);
        color: #FF5722;
        font-weight: bold;
        -webkit-transition: color .2s ease-in;
        -moz-transition: color .2s ease-in;
        transition: color .2s ease-in;
    }

    .navbar-custom .nav li a:hover {
        outline: 0;
        color: #FAFAFA;
        border-bottom: 3px solid #FF5722;    
        background-color: transparent;
        -webkit-transition: border-bottom .2s ease-in;
        -moz-transition: border-bottom .2s ease-in;
        transition: border-bottom .2s ease-in;
    }

    .navbar-custom .nav li.active a {
        color: #FAFAFA;
        font-weight: bold;
        border-bottom: 3px solid #FF5722;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        background-color: rgba(238, 238, 238, 0.95);
        box-shadow: rgba(0, 0, 0, 0.258824) 0px 3px 6px 0px;
    }

    .navbar-custom.top-nav-collapse .navbar-brand {
        color: #353535;
    }

    .navbar-custom.top-nav-collapse .nav li a {
        color: #353535;
    }

    .navbar-custom.top-nav-collapse .nav li.active a {
        color: #353535;
        font-weight: bold;
        border-bottom: 3px solid #FF5722;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-custom.top-nav-collapse .nav li a:hover {
        outline: 0;
        color: #353535;
        border-bottom: 3px solid #FF5722;    
        background-color: transparent;
        -webkit-transition: border-bottom .2s ease-in;
        -moz-transition: border-bottom .2s ease-in;
        transition: border-bottom .2s ease-in;
    }

    .navbar-custom.top-nav-collapse .nav li.active a {
        color: #353535;
        font-weight: bold;
        border-bottom: 3px solid #FF5722;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-custom.top-nav-collapse .nav li.active a:hover {
        border-bottom: 3px solid #FF5722;
        color: #FF5722;
        font-weight: bold;
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;

    }    
}

/*********** Footer ***********/
footer {
    height: 100%;
    background-color: #E0E0E0;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/*********** Social Icons ***********/

.social-icons {
    padding: 15px 0;
}

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 3.0rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 5rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin: -2.5rem;
}
.twitter span {
    background-color: #4099ff;
}
.angellist span {
    background-color: #000000;
}
.github span {
    background-color: #333333;
}
.youtube span {
    background-color: #cd201f;
}
.android span {
    background-color: #A4C639;
}
.mail span {
    background-color: #34495e;
}
.linkedin span {
    background-color: #0077B5;
}
.scribd span {
    background-color: #1a7bba;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 5rem;
    left: 0;
    line-height: 5rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 5rem;
    z-index: 10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-angellist {
    color: #000000;
}
.icon-button .icon-github {
    color: #333333;
}
.icon-button .icon-youtube {
    color: #cd201f;
}
.icon-button .icon-android {
    color: #A4C639;
}
.icon-button .icon-mail {
    color: #34495e;
}
.icon-button .icon-linkedin {
    color: #0077B5;
}
.icon-button .icon-scribd {
    color: #1a7bba;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-angellist,
.icon-button:hover .icon-github,
.icon-button:hover .icon-youtube,
.icon-button:hover .icon-android,
.icon-button:hover .icon-mail,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-scribd {
    color: white;
}

/*********** Index ***********/

#introme-small-screen {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 5px solid white;
    background-color: #ECEFF1;
    display: block;
}

#introme-big-screen {
    width: 100%;
    display: none;
}

#intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    color: #444;
    background-color: #90A4AE;
    text-align: center;
}

#intro .brand-heading {
    font-size: 55px;
}

#intro .intro-text {
    font-size: 18px;
    text-align: left;
    padding: 30px 0;
}

@media(min-width:768px) {
    #introme-big-screen {
        width: 100%;
        display: block;
    }
    #introme-small-screen {
        display: none;
    }    
    #intro {
        height: auto;
        padding: 100px 0;
    }
    #intro .brand-heading {
        font-size: 70px;
    }
    #intro .intro-text {
        font-size: 20px;
    }
}

#projects .img-box {
    position: relative;
}

#projects .img-box .primary {
    position: absolute;
    top: 0;
    z-index: 1;
    transition: opacity 0.1s linear;

}

#projects .img-box .secondary {
    background-color: rgba(0, 172, 230, 0.58);
    z-index: 2;
}

#projects .img-box .primary:hover {
    opacity: 0.1;
    transition: opacity 0.2s linear;
}

#projects .img-text {
    position: relative;
}

#projects .img-text img {
    width: 100%;
}

#projects .img-text .caption {
    position: absolute;
    top: 0;
    padding-top: 25%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.1s linear;
}

#projects .img-text .caption p{
    font-size:20px;
}

#projects .img-text .caption:hover {
    opacity: 0;
    transition: opacity 0.2s linear;
}

#projects a.link-img {
    color: white !important;
}

#projects a:hover .link-img,
#projects a:focus .link-img{
    text-decoration: none;
    color: white;
}

/*********** Project details ***********/

#project_details {
}

#project_details .articles {
    margin-top: 30px;
    font-size: 15px;
    line-height: 30px;
}

#project_details img {
    max-width: 100%;
}

#img-header {
    position: relative;
    z-index: -99;
}

#img-header img {
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

#img-header #title {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    left: 15px;
    padding-top: 170px;
    background-color: rgba(91, 91, 91, 0.7);
}

#img-header h1 {
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    padding-top: 20px;
    padding-bottom: 20px;
}

#company_details {
    box-shadow: rgba(0, 0, 0, 0.258824) 0px -3px 5px 0px;
    padding-top: 30px;
}

#company_details img {
    max-height: 180px;
    max-width: 100%;
}

#company_details #company_logo {
    width: 100%;
}

@media(min-width:768px) {
    #company_details #company_logo {
        width: auto;
    }
}

.gallery-card {
    background: silver;
    padding: 0px;
    margin: 0px;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

.gallery-card > p.img {
    text-align: center;
    line-height: 200px;
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.gallery-card > p.video, p.article {
    text-align: center;
    line-height: 200px;
    background-color: rgba(91, 91, 91, 0.3);
    color: #FAFAFA;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.gallery-card:hover > p {
    background-color: rgba(91, 91, 91, 0.5);
    color: #FAFAFA;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}